
.HugeBox {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  background: salmon;
  opacity: 50%;
}

.LeftText {
  
  text-align: justify;
}

.RightPhoto
{
  margin: 120px 20px;
  text-align: center;
}


.font-pixel {
  font-family: 'Press Start 2P', cursive;
}

.vert-move {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

.question-move {
  -webkit-animation: questionmover 1s infinite  alternate;
  animation: questionmover 1s infinite  alternate;
}

.question-move:hover { 
  transition: .6s fill;
  fill: white !important;
}

.area {
  fill: wheat;
  opacity: 1%;

}

.area:hover { 
  transition: .6s fill;
  fill: red;
  opacity: 30%;
}

.area2 {
  fill: wheat;
  opacity: 1%;

}

.area2:hover { 
  transition: .6s fill;
  fill: cyan;
  opacity: 30%;
}

.area3 {
  fill: wheat;
  opacity: 1%;

}

.area3:hover { 
  transition: .6s fill;
  fill: purple;
  opacity: 30%;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50px); }
}
@-webkit-keyframes questionmover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes questionmover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@media (max-width: 576px) {
  .LeftText {
    padding-top: 20px;
    text-align: justify;
    
  }
  .RightPhoto
{
  margin: 10px 20px;
  text-align: center;
}

.font-pixel {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

}


